@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  background-color: #161616;
}

* {
  font-family: "Poppins", sans-serif;
}

/* LANDING PAGE */

#landingIcon {
  margin-left: 52px;
}

#landingPage {
  overflow-x: hidden;

  height: 100vh;
  color: #ffffff;
  background-color: #161616;
}

#landingPage .landingImageContainer {
  position: relative;
  bottom: 30px;
  width: 600px;
  height: 500px;
}

#landingPage .landingImage {
  width: 100%;
  height: 100%;
}

#landingPage .landingText {
  top: 100px;
  position: relative;
  margin-left: 50px;
}

#landingPage .boldText {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
}

#landingPage .italic {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 70px;
}

#landingPage .regularText {
  padding-right: 200px;
  font-size: 18px;
  line-height: 33px;
}

/* Sign In Button & Modal */

#signInButton {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #1f1f1f;
  width: 180px;
  margin-left: 25px;
}

#signInModal .modal-body {
  background-color: #161616;
}

#signInModal p {
  color: #ffffff;
  font-weight: bolder;
  font-size: 40px;
}

#signInModal .form-control {
  background-color: #444444;
  color: #f3f3f3;
  border-color: #f3f3f3;
}

#signInModal .form-control::placeholder {
  color: #f3f3f3;
}

#signInModal .btn {
  background-color: #af2e1c;
  border-color: #af2e1c;
}

/* Sign Up Button & Modal */

#signUpButton {
  background-color: #af2e1c;
  border-color: #af2e1c;
  width: 180px;
}

#signUpModal .modal-body {
  background-color: #161616;
}

#signUpModal p {
  color: #ffffff;
  font-weight: bolder;
  font-size: 40px;
}

#signUpModal .form-control {
  background-color: #444444;
  color: #f3f3f3;
  border-color: #f3f3f3;
}

#signUpModal .form-control::placeholder {
  color: #f3f3f3;
}

#signUpModal .btn {
  background-color: #af2e1c;
  border-color: #af2e1c;
}

/* HEADER */

#header {
  color: #ffffff;
  background-color: #161616;
}

#header ul {
  display: flex;
  list-style: none;
  margin-top: 25px;
}

#header ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-left: 25px;
}

#header ul .active,
#header ul a:hover {
  color: #af2e1c;
}

/* ADMIN HEADER */
#admin-header {
  color: #ffffff;
  background-color: #161616;
}

#admin-header ul {
  display: flex;
  list-style: none;
  margin-top: 25px;
}

#admin-header ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-left: 25px;
}

#admin-header ul .active,
#admin-header ul a:hover {
  color: #af2e1c;
}

#admin-header .image-container {
  width: 50px;
  height: 50px;
  border: 2px solid #c4c4c4;
  border-radius: 25px;
}

#admin-header .image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

/* HOME */

#home {
  color: #ffffff;
  background-color: #161616;
  height: 100vh;
  overflow-x: hidden;
}

#searchBar .form-group {
  position: relative;
  left: 350px;
}

#searchBar .form-control {
  width: 600px;
  height: 40px;
  color: #f3f3f3;
  background-color: #444444;
  border-color: #f3f3f3;
}

#searchBar .form-control::placeholder {
  color: #f3f3f3;
}

#searchBar .searchBarImageContainer {
  margin-left: 75px;
}

#searchBar .searchbarImage {
  width: 100%;
  height: 100%;
}

#searchBar .searchIcon {
  position: relative;
  right: 5px;
  color: #f3f3f3;
  width: 30px;
  height: 30px;
  float: left;
}

#searchBar .btn {
  background-color: #af2e1c;
  border-color: #af2e1c;
  width: 43px;
  height: 43px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
}

/* PROFILE */

#profilePage {
  color: #ffffff;
  background-color: #161616;
  height: 100vh;
  overflow-x: hidden;
}

/* USER INFO */

#userInfo {
  overflow-x: hidden;
}

#userInfo .profileTitle {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  vertical-align: top;
}

#userInfo .profileBackground {
  background-color: #252525;
  border-radius: 10px;
  padding: 30px 30px 0px 30px;
}

#userInfo .profileIcon {
  margin-bottom: 35px;
  width: 35px;
  height: 35px;
  color: #af2e1c;
  display: flex;
  flex-direction: column;
}

#userInfo .profileName {
  position: relative;
  right: 125px;
  font-size: 14px;
  font-weight: 800;

  color: #ffffff;
}

#userInfo .profileDesc {
  position: relative;
  right: 125px;
  bottom: 10px;
  font-size: 12px;
  color: #8a8c90;
}

#userInfo .pictureContainer {
  float: right;
  width: 200px;
  height: 200px;
  border-radius: 2px;
}

#userInfo .pictureImage {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

#userInfo .btn {
  margin-top: 20px;
  width: 200px;
  background-color: #af2e1c;
  border-color: #af2e1c;
}

/* USER LITERATURE */

#userLiterature .section-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}

#userLiterature .image-container {
  width: 180px;
  height: 250px;
}

#userLiterature .image {
  width: 100%;
  height: 100%;
}

#userLiterature .waiting-info {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 101.5%;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 45%;
  margin-left: 20px;
  color: #ffd600;
}

#userLiterature .cancel-info {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 101.5%;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 45%;
  margin-left: 60px;
  /* or 18px */
  color: #ee4622;
}

#userLiterature .description {
  justify-content: space-between;
}

#userLiterature .title {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  /* line-height: 120.5%; */
}

#userLiterature .author {
  font-size: 16px;
  color: #929292;
  line-height: 101.5%;
}

#userLiterature .publication {
  display: inline-block;
  text-align: right;
  font-size: 16px;
  color: #929292;
  line-height: 101.5%;
}

#userLiterature .subtext-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 90px;
}

/* Add Literature */
#addLiterature {
  color: #ffffff;
  background-color: #161616;
  height: 100vh;
  overflow-x: hidden;
}

/* Add Form */
#addForm {
  color: #ffffff;
  background-color: #161616;

  overflow-x: hidden;
}

#addForm h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}

#addForm .form-control {
  background-color: #444444;
  color: #f3f3f3;
  border-color: #f3f3f3;
}

#addForm .form-control::placeholder {
  color: #f3f3f3;
}

#addForm .btn {
  background-color: #ee4622;
  border-color: #ee4622;
  border-radius: 5px;
}

/* MY COLLECTION */

#my-collection {
  color: #ffffff;
  background-color: #161616;
  height: 100vh;
  overflow-x: hidden;
}

/* COLLECTION */

#collection {
  color: #ffffff;
  background-color: #161616;
  overflow-x: hidden;
}

#collection .literature-not-found {
  color: #ffffff;
  background-color: #161616;
  overflow-x: hidden;
}

#collection .section-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}

#collection .image-container {
  width: 180px;
  height: 250px;
}

#collection .image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#collection .description {
  justify-content: space-between;
}

#collection .title {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  line-height: 120.5%;
}

#collection .author {
  font-size: 16px;
  color: #929292;
  line-height: 101.5%;
}

#collection .publication {
  display: inline-block;
  text-align: right;
  font-size: 16px;
  color: #929292;
  line-height: 101.5%;
}

#collection .subtext-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 90px;
}

/* SEARCH LITERATURE */

#search-literature {
  color: #ffffff;
  background-color: #161616;
}

#search-literature .searchBar {
  position: relative;
  top: 30px;
}

#search-literature .form-control {
  margin-left: 65px;
  width: 600px;
  height: 40px;
  color: #f3f3f3;
  background-color: #444444;
  border-color: #f3f3f3;
}

#search-literature .form-control::placeholder {
  color: #f3f3f3;
}

#search-literature .searchIcon {
  position: relative;
  right: 5px;
  color: #f3f3f3;
  width: 30px;
  height: 30px;
  float: left;
}

#search-literature .btn {
  background-color: #af2e1c;
  border-color: #af2e1c;
  width: 43px;
  height: 43px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
}

#search-literature .left-component {
  position: relative;
  left: 65px;
}

#search-literature .filter-label {
  color: #af2e1c;
  font-size: 18px;
  font-weight: 800;
}

#search-literature .filter-btn {
  background-color: #444444;
  color: #f3f3f3;
  border-color: #f3f3f3;
  border-radius: 2px;
}

#search-literature .image-container {
  width: 180px;
  height: 250px;
  border-radius: 10px;
}

#search-literature .image {
  width: 100%;
  height: 100%;
}

#search-literature .description {
  justify-content: space-between;
}

#search-literature .title {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  /* line-height: 120.5%; */
}

#search-literature .author {
  font-size: 16px;
  color: #929292;
  line-height: 101.5%;
}

#search-literature .publication {
  display: inline-block;
  text-align: right;
  font-size: 16px;
  color: #929292;
  line-height: 101.5%;
}

#search-literature .subtext-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* DETAIL LITERATURE */
#detail-literature {
  color: #ffffff;
  background-color: #161616;
  height: 100vh;
  overflow-x: hidden;
}

#detail-literature .image-container {
  width: 380px;
  height: 500px;
  border-radius: 10px;
}

#detail-literature .image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#detail-literature .information {
  display: flex;
  flex-direction: column;
}

#detail-literature .title {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: 800;
}

#detail-literature .author {
  margin-top: 10px;
  font-size: 20px;
  color: #929292;
  line-height: 24px;
}

#detail-literature .bold-text {
  position: relative;
  top: 50px;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  line-height: 29px;
}

#detail-literature .regular-text {
  position: relative;
  top: 50px;
  font-size: 16px;
  color: #929292;
  line-height: 18px;
}

#detail-literature .btn {
  background-color: #af2e1c;
  border-color: #af2e1c;
  color: #ffffff;
}

/* LIST LITERATURE */

#listLiterature .literature-container {
  width: 180px;
  height: 250px;
}

#listLiterature .image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#listLiterature .card-body {
  padding-left: 0px;
  background-color: #161616;
}

#listLiterature .imageCard {
  width: 180px;
  height: 250px;
}

#listLiterature .description {
  justify-content: space-between;
}

#listLiterature .title {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

#listLiterature .author {
  font-size: 16px;
  color: #929292;
}

#listLiterature .year {
  font-size: 16px;
  color: #929292;
  margin-right: 50px;
}

#listLiterature .subtext-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#not-found {
  width: 100vw;
  height: 100vh;
  background-color: #161616;
  color: white;
  align-items: center;
}

#admin-page {
  margin: 20px;
  color: #ffffff;
  background-color: #ffffff;
  overflow-x: hidden;
}

#admin-page .bold-text {
  font-weight: 800;
  text-align: center;
}

#admin-page .regular-text {
  text-align: justify;
}
