@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#Route {
  color: #ffffff;
  background-color: #161616;
  height: 100vh;
  overflow-x: hidden;
}

/* LANDING PAGE */

#landingIcon {
  margin-left: 52px;
}

#landingPage {
  overflow-x: hidden;

  height: 100vh;
  color: #ffffff;
  background-color: #161616;
}

#landingPage .landingImageContainer {
  position: relative;
  bottom: 30px;
  width: 600px;
  height: 500px;
}

#landingPage .landingImage {
  width: 100%;
  height: 100%;
}

#landingPage .landingText {
  top: 100px;
  position: relative;
  margin-left: 50px;
}

#landingPage .boldText {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
}

#landingPage .italic {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 70px;
}

#landingPage .regularText {
  padding-right: 200px;
  font-size: 18px;
  line-height: 33px;
}

/* Sign In Button & Modal */

#signInButton {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #1f1f1f;
  width: 180px;
  margin-left: 25px;
}

#signInModal .modal-body {
  background-color: #161616;
}

#signInModal p {
  color: #ffffff;
  font-weight: bolder;
  font-size: 40px;
}

#signInModal .form-control {
  background-color: #444444;
  color: #f3f3f3;
  border-color: #f3f3f3;
}

#signInModal .form-control::placeholder {
  color: #f3f3f3;
}

#signInModal .btn {
  background-color: #af2e1c;
  border-color: #af2e1c;
}

/* Sign Up Button & Modal */

#signUpButton {
  background-color: #af2e1c;
  border-color: #af2e1c;
  width: 180px;
}

#signUpModal .modal-body {
  background-color: #161616;
}

#signUpModal p {
  color: #ffffff;
  font-weight: bolder;
  font-size: 40px;
}

#signUpModal .form-control {
  background-color: #444444;
  color: #f3f3f3;
  border-color: #f3f3f3;
}

#signUpModal .form-control::placeholder {
  color: #f3f3f3;
}

#signUpModal .btn {
  background-color: #af2e1c;
  border-color: #af2e1c;
}
/* HEADER */

#header ul {
  display: flex;
  list-style: none;
  margin-top: 25px;
}

#header ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-left: 25px;
}

#header ul .active,
#header ul a:hover {
  color: #af2e1c;
}

/* HOME */

/* #homePage {
  height: 100vh;
} */

/* PARENT */

/* HEADER */
/* #header {
  color: #ffffff;
  background-color: #161616;
} */

/* SEARCH BAR */

/* 
#searchBar {
  display: block;
  text-align: center;
} */

#searchBar .form-group {
  position: relative;
  left: 350px;
}

#searchBar .form-control {
  width: 600px;
  height: 40px;
  color: #f3f3f3;
  background-color: #444444;
  border-color: #f3f3f3;
}

#searchBar .form-control::placeholder {
  color: #f3f3f3;
}

#searchBar .searchBarImageContainer {
  margin-left: 75px;
}

#searchBar .searchbarImage {
  width: 100%;
  height: 100%;
}

#searchBar .searchIcon {
  width: 40px;
  height: 40px;
  background-color: #af2e1c;
  border-radius: 2px;
  margin-left: 10px;
}

/* PROFILE */

#profilePage {
  padding-left: 75px;
  padding-right: 20px;
}

/* USER INFO */

#userInfo {
  overflow-x: hidden;
}

#userInfo .profileTitle {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  vertical-align: top;
}

#userInfo .profileBackground {
  background-color: #252525;
  border-radius: 10px;
}

#userInfo .profileArea {
  padding: 10px;
}

#userInfo .profileIcon {
  margin-bottom: 35px;
  width: 35px;
  height: 35px;
  color: #af2e1c;
  display: flex;
  flex-direction: column;
}

#userInfo .profileName {
  position: relative;
  right: 125px;
  font-size: 14px;
  font-weight: 800;

  color: #ffffff;
}

#userInfo .profileDesc {
  position: relative;
  right: 125px;
  bottom: 10px;
  font-size: 12px;
  color: #8a8c90;
}

#userInfo .pictureContainer {
  float: right;
  width: 200px;
  height: 200px;
}

#userInfo .pictureImage {
  width: 100%;
  height: 100%;
}

#userInfo .btn {
  float: right;
  margin-top: 20px;
  background-color: #af2e1c;
}

/* USER LITERATURE */

#userLiterature .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}

/* Add Form */
#addForm h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}

#addForm .form-control {
  background-color: #444444;
  color: #f3f3f3;
  border-color: #f3f3f3;
}

#addForm .form-control::placeholder {
  color: #f3f3f3;
}

#addForm .btn {
  background-color: #ee4622;
  border-radius: 5px;
}
